In [1]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from textblob import TextBlob 
def fetch_sentiment_using_SIA(text):
    sid = SentimentIntensityAnalyzer()
    polarity_scores = sid.polarity_scores(text)
    if polarity_scores['neg'] > polarity_scores['pos']:
        return 'negative'
    else:
        return 'positive'

def fetch_sentiment_using_textblob(text):
    analysis = TextBlob(text)
    # set sentiment 
    if analysis.sentiment.polarity >= 0:
        return 'positive'
    else: 
        return 'negative'

In [4]:
import pandas as pd
climate_df = pd.read_csv("climate_dataset_final_20191127-142026.csv")

In [5]:
climate_df.head()

,text,created_at,geo,lang,place,coordinates,user.favourites_count,user.statuses_count,user.description,user.location,...,user.geo_enabled,user.profile_background_color,user.profile_image_url,user.time_zone,id,favorite_count,retweeted,source,favorited,retweet_count
0,https://t.co/7dtHnjxSHr,2019-11-27 08:50:25,NaN,und,NaN,NaN,48,53,NaN,Zimbabwe,...,False,C0DEED,http://pbs.twimg.com/profile_images/1087754463...,NaN,1199611422919016448,0,False,Twitter Web App,False,0
1,Y'all elitist bout the weirdest shit.,2019-11-27 08:50:26,NaN,en,NaN,NaN,101169,24474,I distrust anyone who tells me who I am\r\r-La...,Southern Water Tribe,...,False,F5F8FA,http://pbs.twimg.com/profile_images/1187138497...,NaN,1199611424814911488,0,False,Twitter for Android,False,0
2,Eastern Europe's Biggest NTOPCon Bifacial Sola...,2019-11-27 08:50:26,NaN,en,NaN,NaN,3338,63030,Daily News & PRs covering the solar energy mar...,Global,...,False,F2F2F2,http://pbs.twimg.com/profile_images/8822471433...,NaN,1199611427952168960,0,False,IFTTT,False,0
3,I've just posted a new blog: China says CO2 bo...,2019-11-27 08:50:27,NaN,en,NaN,NaN,9,6282,Buy Quality Products With Best Deal,United States,...,False,F5F8FA,http://pbs.twimg.com/profile_images/1137716822...,NaN,1199611430259085312,0,False,IFTTT,False,0
4,New Solar Array to Power Dana's Toledo Operati...,2019-11-27 08:50:27,NaN,en,NaN,NaN,3338,63031,Daily News & PRs covering the solar energy mar...,Global,...,False,F2F2F2,http://pbs.twimg.com/profile_images/8822471433...,NaN,1199611431492227072,0,False,IFTTT,False,0

In [7]:
dataset_text = climate_df.text
dataset_text

0                                  https://t.co/7dtHnjxSHr
1                    Y'all elitist bout the weirdest shit.
2        Eastern Europe's Biggest NTOPCon Bifacial Sola...
3        I've just posted a new blog: China says CO2 bo...
4        New Solar Array to Power Dana's Toledo Operati...
5        Ein E-Auto mit Solarzellen, das seine Energie ...
6        @camerondallas Hi guys, I would recommend the ...
7        Smoke Without Fire: The Myth of a ‘Labour Anti...
8        In @BWIglobal health and safety representative...
9        And the premium was taken but no response for ...
10       Sono necessari tagli alle emissioni "senza pre...
11       Mecury can cause brain damage, respiratory inf...
12       @diplomat_Style We share your concern about pl...
13                                           Good proeject
14                                            @AlanKellyTD
15       A 3r descobrim l’#univers, la Via Làctia, el S...
16       A word from the WONETHA board chair ... sharin...
17       @PlayStation Hi guys, I would recommend the hi...
18       This is a common phenomenon!  Bus users not af...
19       way big and black. Now I’m doing all this in t...
20       Mental health organisation outlines problems f...
21       1 in 7 of your workforce are caring for someon...
22       @Saileshpat As it crosses the Industrial area ...
23       @sunrisemvmt Err, did u overlook the following...
24       #Festivities bring a majority of #Digestion re...
25       Unclean surfaces and low immune systems can be...
26       @CliftonMaco @JMafume @nelsonchamisa @EngMudzu...
27       New blog post by @nebu_73 with the material fo...
28       @FairFuelUK @halfon4harlow @julianknight15 @Qu...
29         Oh! A new type of fish! https://t.co/a4oMbM3s4o
                               ...
12068    Llevo 3 meses apuntado al gym y todavía no me ...
12069    Teladoc Health $TDOC Hits New 12-Month High at...
12070                                         Good project
12071    AHAHAHAHAHAHAHAHAHAHAH essa noite foi do mais ...
12072    Godfrey Gao : Mort tragique du mannequin star ...
12073    Squad, un pequeño coche eléctrico impulsado po...
12074    1436 Humidity(%) :95, Temperature (C) :30, Air...
12075    Squad, un pequeño coche eléctrico impulsado po...
12076    ACHIEVE YOUR GOALS. Our trainers will learn wh...
12077    @VADUKA__KOLAK Fish mas 0.1 mg #BebaskanLuthfi...
12078    Squad, un pequeño coche eléctrico impulsado po...
12079    Check out 0.15 CT Round Diamond Dolphin Fish C...
12080             Health is wealth https://t.co/3QzDL1v0n4
12081                 https://t.co/T3ZxCylVVw via @NYTimes
12082    @charliekirk11 @RepAdamSchiff Hey Charlie.\r\r...
12083    UK's Johnson in talks to give US access to hea...
12084    Hospital warns of growing waiting lists as it ...
12085    Your county commission is living proof.\rhttps...
12086    New Research: #bitcoin’s Carbon Footprint Lowe...
12087    Magic: The Gathering Reveals New Secret Lair D...
12088    5 of 5 stars to Smoke Gets in Your Eyes by Cai...
12089    Standard Meerschaum Smoking Pipe - Lion D\rhtt...
12090                              https://t.co/OC4MjHefFh
12091    Another example of why cries for politics to b...
12092    Bellinzona,2019/11/27 11:49:57, temperature in...
12093    Want to look your best on your wedding day? Av...
12094                  so long and thanks for all the fish
12095    The @macmillancancer Community Navigators are ...
12096    WiFi health check campaign Launched by @Perfor...
12097    Mortal Kombat 11 - Sindel Ending Cutscene - ht...
Name: text, dtype: object

In [21]:
# for text in dataset_text:
#     polarity = TextBlob(text)
#     sent = polarity.sentiment
#     print(sent)
#     if sent > 0:
#         print("positive")
#     else:
#         print("negative")
def detect_polarity(text):
    return TextBlob(text).sentiment.polarity

climate_df['polarity'] = climate_df.text.apply(detect_polarity)
climate_df.head()

,text,created_at,geo,lang,place,coordinates,user.favourites_count,user.statuses_count,user.description,user.location,...,user.profile_background_color,user.profile_image_url,user.time_zone,id,favorite_count,retweeted,source,favorited,retweet_count,polarity
0,https://t.co/7dtHnjxSHr,2019-11-27 08:50:25,NaN,und,NaN,NaN,48,53,NaN,Zimbabwe,...,C0DEED,http://pbs.twimg.com/profile_images/1087754463...,NaN,1199611422919016448,0,False,Twitter Web App,False,0,0.000000
1,Y'all elitist bout the weirdest shit.,2019-11-27 08:50:26,NaN,en,NaN,NaN,101169,24474,I distrust anyone who tells me who I am\r\r-La...,Southern Water Tribe,...,F5F8FA,http://pbs.twimg.com/profile_images/1187138497...,NaN,1199611424814911488,0,False,Twitter for Android,False,0,-0.200000
2,Eastern Europe's Biggest NTOPCon Bifacial Sola...,2019-11-27 08:50:26,NaN,en,NaN,NaN,3338,63030,Daily News & PRs covering the solar energy mar...,Global,...,F2F2F2,http://pbs.twimg.com/profile_images/8822471433...,NaN,1199611427952168960,0,False,IFTTT,False,0,0.000000
3,I've just posted a new blog: China says CO2 bo...,2019-11-27 08:50:27,NaN,en,NaN,NaN,9,6282,Buy Quality Products With Best Deal,United States,...,F5F8FA,http://pbs.twimg.com/profile_images/1137716822...,NaN,1199611430259085312,0,False,IFTTT,False,0,0.068182
4,New Solar Array to Power Dana's Toledo Operati...,2019-11-27 08:50:27,NaN,en,NaN,NaN,3338,63031,Daily News & PRs covering the solar energy mar...,Global,...,F2F2F2,http://pbs.twimg.com/profile_images/8822471433...,NaN,1199611431492227072,0,False,IFTTT,False,0,0.136364

In [25]:
def detect_subjective(text):
    return TextBlob(text).sentiment.subjectivity

climate_df['subjectivity'] = climate_df.text.apply(detect_subjective)
climate_df.head()

,text,created_at,geo,lang,place,coordinates,user.favourites_count,user.statuses_count,user.description,user.location,...,user.profile_image_url,user.time_zone,id,favorite_count,retweeted,source,favorited,retweet_count,polarity,subjectivity
0,https://t.co/7dtHnjxSHr,2019-11-27 08:50:25,NaN,und,NaN,NaN,48,53,NaN,Zimbabwe,...,http://pbs.twimg.com/profile_images/1087754463...,NaN,1199611422919016448,0,False,Twitter Web App,False,0,0.000000,0.000000
1,Y'all elitist bout the weirdest shit.,2019-11-27 08:50:26,NaN,en,NaN,NaN,101169,24474,I distrust anyone who tells me who I am\r\r-La...,Southern Water Tribe,...,http://pbs.twimg.com/profile_images/1187138497...,NaN,1199611424814911488,0,False,Twitter for Android,False,0,-0.200000,0.800000
2,Eastern Europe's Biggest NTOPCon Bifacial Sola...,2019-11-27 08:50:26,NaN,en,NaN,NaN,3338,63030,Daily News & PRs covering the solar energy mar...,Global,...,http://pbs.twimg.com/profile_images/8822471433...,NaN,1199611427952168960,0,False,IFTTT,False,0,0.000000,0.000000
3,I've just posted a new blog: China says CO2 bo...,2019-11-27 08:50:27,NaN,en,NaN,NaN,9,6282,Buy Quality Products With Best Deal,United States,...,http://pbs.twimg.com/profile_images/1137716822...,NaN,1199611430259085312,0,False,IFTTT,False,0,0.068182,0.227273
4,New Solar Array to Power Dana's Toledo Operati...,2019-11-27 08:50:27,NaN,en,NaN,NaN,3338,63031,Daily News & PRs covering the solar energy mar...,Global,...,http://pbs.twimg.com/profile_images/8822471433...,NaN,1199611431492227072,0,False,IFTTT,False,0,0.136364,0.454545

In [27]:
sentiment_df = climate_df[['text','polarity', 'subjectivity']]
sentiment_df.head()
# if sentiment_df.polarity >0:

                                                text  polarity  subjectivity
0                            https://t.co/7dtHnjxSHr  0.000000      0.000000
1              Y'all elitist bout the weirdest shit. -0.200000      0.800000
2  Eastern Europe's Biggest NTOPCon Bifacial Sola...  0.000000      0.000000
3  I've just posted a new blog: China says CO2 bo...  0.068182      0.227273
4  New Solar Array to Power Dana's Toledo Operati...  0.136364      0.454545

In [32]:
def sentiment(number):
    if number > 0:
        return "positve"
    elif number == 0: 
        return "neutral"
    else:
        return "negative"
    
#     return TextBlob(text).sentiment.subjectivity

climate_df['sentiment'] = climate_df.polarity.apply(sentiment)
climate_df.head()

,text,created_at,geo,lang,place,coordinates,user.favourites_count,user.statuses_count,user.description,user.location,...,user.time_zone,id,favorite_count,retweeted,source,favorited,retweet_count,polarity,subjectivity,sentiment
0,https://t.co/7dtHnjxSHr,2019-11-27 08:50:25,NaN,und,NaN,NaN,48,53,NaN,Zimbabwe,...,NaN,1199611422919016448,0,False,Twitter Web App,False,0,0.000000,0.000000,neutral
1,Y'all elitist bout the weirdest shit.,2019-11-27 08:50:26,NaN,en,NaN,NaN,101169,24474,I distrust anyone who tells me who I am\r\r-La...,Southern Water Tribe,...,NaN,1199611424814911488,0,False,Twitter for Android,False,0,-0.200000,0.800000,negative
2,Eastern Europe's Biggest NTOPCon Bifacial Sola...,2019-11-27 08:50:26,NaN,en,NaN,NaN,3338,63030,Daily News & PRs covering the solar energy mar...,Global,...,NaN,1199611427952168960,0,False,IFTTT,False,0,0.000000,0.000000,neutral
3,I've just posted a new blog: China says CO2 bo...,2019-11-27 08:50:27,NaN,en,NaN,NaN,9,6282,Buy Quality Products With Best Deal,United States,...,NaN,1199611430259085312,0,False,IFTTT,False,0,0.068182,0.227273,positve
4,New Solar Array to Power Dana's Toledo Operati...,2019-11-27 08:50:27,NaN,en,NaN,NaN,3338,63031,Daily News & PRs covering the solar energy mar...,Global,...,NaN,1199611431492227072,0,False,IFTTT,False,0,0.136364,0.454545,positve

In [33]:
sentiment_df = climate_df[['text','sentiment']]
sentiment_df.head()

                                                text sentiment
0                            https://t.co/7dtHnjxSHr   neutral
1              Y'all elitist bout the weirdest shit.  negative
2  Eastern Europe's Biggest NTOPCon Bifacial Sola...   neutral
3  I've just posted a new blog: China says CO2 bo...   positve
4  New Solar Array to Power Dana's Toledo Operati...   positve